{% macro alertstart(level, title=None) -%}
<div class="alert alert-{{ level }}">
  {% if title %}
  <h4 class="alert-heading">{{ title|safe }}</h4>
  {% endif %}
{%- endmacro %}

{% macro alertend() -%}
</div>
{%- endmacro %}
