<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mx-2">
  {% for item in site.query().filter(F.tags.contains("accueil")) %}
  <div class="col">
    <div class="card">
      <a href="{{ item.path|url }}">
        <h3 class="card-header">{{ item.title }}</h3>
        {% if item.image %}
          {% set image = site.get(item.path + "/" + item.image) %}
          <img style="width: 100%; height: 10em; object-fit: cover; display: block;" src="{{ image.thumbnail(400)|url }}" alt="{{ image.title }}">
        {% endif %}
      </a>
      <!--
      {% if item.description %}
        <div class="card-body">
          <p class="card-text">{{ item.description }}</p>
        </div>
      {% endif %}
      -->
      {% if item.date %}
        <div class="card-footer text-muted">
          {{ item.date|dateformat }}
        </div>
      {% endif %}
    </div>
    </div>
  {% endfor %}
  </div>
